.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

.carousel-caption {

    right: auto;
    bottom: 0%;
    left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    top: 42%;
    left: 5%;
}